<div class="top_image">
	<div class="col-xs-12" style=" text-align: center; color: #fff;">
		<div id="image-skkipr">
			<font size="7" class="font-top" >あなたの大好きなラーメンを共有しませんか？</font>
		  	<div class="image-top">
			    <div class="ramen-a"></div>
			    <div class="ramen-b"></div>
			    <div class="ramen-c"></div>
			    <div class="ramen-d"></div>
			    <div class="ramen-e"></div>
 			</div>
 		</div>
	</div>
</div>
