<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<h1>投稿内容変更</h1>
			<%= render "foods/newfood", food: @food %>
			<%= link_to "Show", food_path(@food), class: "food_#{@food.id}" %> |
			<%= link_to "Back", foods_path, class: "back" %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>