// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ramen-z {
	background-image: image-url('takamoto_main.jpg');
	height: 420PX;
	width: 720px;
}

.ramen-y {
	background-image: image-url('aaqwwa.jpg');
	height: 420PX;
	width: 680px;
}
